{% extends 'base.html.twig' %}
{% block title%}Homepage{% endblock %}
{% block body %}
    <h1>Home</h1>
    <p>C'est la page Home</p>
	<ul>
			<li> <a href="{{ path('inscription') }}">Sign Up</a> </li><br>
			{% if app.user %}
                    <li><a href="{{ path('security_logout') }}">Logout</a></li>
            {% else %}
                    <li><a href="{{ path('security_login') }}">Login</a></li>
            {% endif %}
            <li> <a href="{{ path('profil') }}">Profil</a> </li>
            <li> <a href="{{ path('take_date') }}">Prendre un RDV</a> </li>
            <li> <a href="{{ path('make_date') }}">Ajouter un RDV</a> </li>
    </ul>
     
{% endblock %}
