{% extends 'base.html.twig' %}
{% block title%}Ajouter un RDV{% endblock %}
{% block body %}
    <h1>Ajout de rendez-vous</h1>
    <a href="{{ path('homepage') }}">Home</a>
    {{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
	<h2>Rendez-vous proposés</h2>
	<ul>
	{% for rdv in trdv %}
		{% if rdv.prenant %}
            <li>Rendez-vous proposé par {{rdv.proposant}} le {{ rdv.date | date('Y-m-d H:i:s') }} pris par {{rdv.prenant}}</li>  
        {% else %}
            <li>Rendez-vous proposé par {{rdv.proposant}} le {{ rdv.date | date('Y-m-d H:i:s') }} pas encore pris</li>  
        {% endif %}
	{% endfor %}
	</ul>
{% endblock %}