{% extends 'base.html.twig' %}
{% block title%}Profil{% endblock %}
{% block body %}
    <h1>Profil</h1>
    {% if (user.username != app.user.username and user.type == 'restaurant')%}
        <a href='{{ path('take_date', {'url' : user.username }) }}'>Réserver une place</a>
    {% endif %}
    <p>Avatar</p>
    <img src="../uploads/img/{{user.avatar}}">
    <p>Nom : {{user.name}} </p>
    <p>Email : {{user.email}} </p>
    {% if user.adress %}
    	<p>Addresse : {{user.adress}}</p>
    {% endif %}
    <p>Téléphone : {{user.tel}}</p>
    {% if user.username == app.user.username %}
    	<a href="{{ path('change_psw') }}">Changer le mot de passe</a><br>
	    <a href="{{ path('change_avatar') }}">Changer l'avatar</a><br>
	    <a href="{{ path('change_tel') }}">Changer le numéro de téléphone</a><br>
    {% endif %}
    {% if user.type == 'restaurant' %}
        <p>Images</p>
        {% for img in images %}
            <img src="../uploads/img/{{img.image}}">
        {% endfor %}
    {% endif %}
    


{% endblock %}