{% extends 'base.html.twig' %}
{% block title%}Recherche{% endblock %}
{% block body %}
    <div id ="search">
    <h1>Recherche</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
    {% for user in tuser %}
        <div class ="imge">
            <h2><a href="{{ path('profil', {'url' : user.name }) }}">{{user.username}}</a></h2>
            <img src="../uploads/img/{{user.avatar}}">
            <p>Addresse : {{user.adress}}</p>
            <p>Téléphone : {{user.tel}}</p>
        </div>
    {% endfor %}
   
{% endblock %}